n8n_workflows/digest-daily.json
{
  "name": "Daily Digest Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Schedule Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/orchestrate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {},
        "bodyParametersJson": "={\n  \"intent\": \"memory.search\",\n  \"inputs\": {\n    \"query\": \"important updates today\",\n    \"k\": 20,\n    \"mode\": \"hybrid\"\n  },\n  \"mode\": \"agent\"\n}"
      },
      "name": "Search Recent Memories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Orchestrator API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.result.total_items}}",
              "operation": "largerEqual",
              "value2": 1
            }
          ]
        }
      },
      "name": "Has Items?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "const items = $input.item.json.result.items;\nconst dateStr = new Date().toLocaleDateString('en-US', {\n  weekday: 'long',\n  year: 'numeric',\n  month: 'long',\n  day: 'numeric'\n});\n\nlet html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; }\n    h1 { color: #333; border-bottom: 2px solid #4CAF50; padding-bottom: 10px; }\n    .item { background: #f5f5f5; padding: 15px; margin: 10px 0; border-radius: 5px; }\n    .tags { display: flex; gap: 5px; margin-top: 10px; }\n    .tag { background: #4CAF50; color: white; padding: 3px 8px; border-radius: 3px; font-size: 12px; }\n    .score { color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <h1>📬 Daily Digest - ${dateStr}</h1>\n  <p>Here are your ${items.length} most relevant memories from today:</p>\n`;\n\nfor (const item of items) {\n  html += `\n  <div class=\"item\">\n    <p><strong>${item.text}</strong></p>\n    <div class=\"tags\">\n      ${item.tags.map(tag => `<span class=\"tag\">${tag}</span>`).join('')}\n    </div>\n    ${item.combined_score ? `<p class=\"score\">Relevance: ${(item.combined_score * 100).toFixed(1)}%</p>` : ''}\n  </div>\n  `;\n}\n\nhtml += `\n  <hr>\n  <p style=\"color: #666; font-size: 12px;\">Generated by OpenAI Assistant Orchestrator</p>\n</body>\n</html>\n`;\n\nreturn {\n  subject: `Daily Digest - ${dateStr}`,\n  html: html,\n  items_count: items.length\n};"
      },
      "name": "Format Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 250]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{$env.DIGEST_EMAIL_TO}}",
        "subject": "={{$json.subject}}",
        "emailType": "html",
        "message": "={{$json.html}}"
      },
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1050, 250],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.DIGEST_WEBHOOK_URL}}",
        "options": {},
        "bodyParametersJson": "={\n  \"status\": \"sent\",\n  \"items_count\": {{$json.items_count}},\n  \"timestamp\": \"{{new Date().toISOString()}}\"\n}"
      },
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 250]
    },
    {
      "parameters": {
        "functionCode": "return {\n  status: \"skipped\",\n  reason: \"No items found\",\n  timestamp: new Date().toISOString()\n};"
      },
      "name": "No Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 350]
    }
  ],
  "connections": {
    "Schedule Daily 8 AM": {
      "main": [
        [
          {
            "node": "Search Recent Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Recent Memories": {
      "main": [
        [
          {
            "node": "Has Items?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Items?": {
      "main": [
        [
          {
            "node": "Format Digest Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Digest Email": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1"
}
